
body {
    width: 100%;
    height: auto;
    background: rgb(0, 175, 100);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20%;
}